[package]
name = "imagequant-sys"
version = "4.0.0-beta.3"
description = "Convert 24/32-bit images to 8-bit palette with alpha channel.\nC API/FFI libimagequant that powers pngquant lossy PNG compressor.\n\nDual-licensed like pngquant. See https://pngquant.org for details."
authors = ["Kornel LesinÃÅski <kornel@pngquant.org>"]
license = "GPL-3.0-or-later"
homepage = "https://pngquant.org/lib"
repository = "https://github.com/ImageOptim/libimagequant"
documentation = "https://docs.rs/imagequant"
categories = ["multimedia::images"]
keywords = ["quantization", "palette", "image", "dither", "quant"]
include = ["COPYRIGHT", "src/*.rs", "*.h", "README.md", "Cargo.toml"]
readme = "README.md"
edition = "2018"

[lib]
crate-type = ["staticlib", "lib"]
doctest = false
path = "src/ffi.rs"
name = "imagequant"

[dependencies]
imagequant = { path = "..", version = "4.0.0-beta.3", features = ["_internal_c_ffi"] }
bitflags = "1.3.2"
libc = "0.2.112"

[package.metadata.capi.library]
name = "imagequant"
version = "0.0.0"

[package.metadata.capi.pkg_config]
name = "imagequant"
filename = "imagequant"
description = "Convert 24/32-bit images to 8-bit palette with alpha channel."

[package.metadata.capi.header]
name = "libimagequant"
subdirectory = ""
generation = false

[package.metadata.capi.install.include]
asset = [{from = "libimagequant.h"}]

[features]
# internal for cargo-c only
capi = []
